{% extends 'base.html.twig'%}

{% block title %}Great blog{% endblock %}
{% block bodyClass %} class = "login" {% endblock %}
{% block body %}
    <main>
        siurak siurak
    </main>

{% endblock %}