{% extends 'base.html.twig'%}

{% block title %}Registration{% endblock %}
{% block bodyClass %} class = "signup login"{% endblock %}
{% block body %}
     <main>
        <div class="login-popup">
            <h2>Sign up</h2>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div> 
    </main>   
{% endblock %}